a:visited {
  /*Cuando un link es visitado, cambia de color*/
  /* STORY 2.- LINKS - Apartado P */
  color: hotpink;
}

a:hover {
  /*Cuando se pone el puntero sobre un link*/
  /* STORY 2.- LINKS - Apartado P */
  color: yellow;
}

a:active {
  color: blue;
}

.titulosBlancos {
  /*Características de los títulos en blanco*/
  font-size: calc(10px); /*Responsive text*/
  color: white;
  text-shadow: 2px 2px 2px black;
  text-decoration: none; /*Quitamos cualquier tipo de decoración*/
  outline-style: outset; /*Establecemos los bordes por fuera*/
}

.textosBlancos {
  /*Características de los textos en blanco*/
  color: white;
  text-shadow: 3px 3px 3px black; /*Sombra al texto*/
  text-indent: 25px; /*Hacer que aparezca más a la derecha la primera línea de los textos*/
  font-size: calc(1em);
  text-align: justify;
  line-height: 1.8; /*Altura entre líneas*/
}

/*FOOTER*/
.footerBlanco {
  color: white;
  text-indent: 25px;
  font-size: calc(1em);
  font-style: italic;
  font-weight: bold; /*Hacer más grueso el texto*/
}

.footerNegro {
  color: black;
  text-indent: 25px;
  font-size: calc(1em);
  font-style: italic;
  font-weight: 400;
}

/*LISTAS*/
.listaBlanca {
  color: white;
  text-decoration: underline;
  text-shadow: 3px 3px 3px black;
  font-size: 1em;
}

#listaPequeña {
  font-size: 1em;
  color: white;
  text-align: justify;
  text-decoration: overline; /* STORY 2.- FORMATO - Apartado F */
  text-shadow: 3px 3px 3px black;
}

.textosCentrados {
  text-align: center;
}

/*TEXTOS DE COLOR NEGRO*/
.titulosNegros {
  /*font-size: 25px;*/
  font-size: 1em;
  color: black;
  text-decoration: none;
  font-family: "Space Mono", monospace; /* STORY 2.- FORMATO - Apartado F */
}

.textosNegros {
  color: black;
  /*text-shadow: 1px 1px 2px black;*/
  text-indent: 1em;
  font-size: calc(12px + 1.5vw);
  text-align: justify;
  font-family: "Trirong", sans-serif;
  line-height: 1.8;
}

.aumentarTitulosContacto {
  font-size: calc(1em);
  font-weight: bold;
}

.textoFormulario {
  font-size: 1em;
  font-weight: bold;
}

.textoSinSombra {
  font-size: 1em;
  text-indent: 10px;
}

#sobreNosotros {
  font-size: 1em;
  text-align: center;
  color: white;
}

.textoBlancoCentrado {
  text-align: center;
  font-size: 1em;
  color: white;
  margin-left: 10%; /*Story3*/
  font-style: bold;
}

.uppercase {
  /*MAYÚSCULAS*/
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: Cinzel, serif; /*Font Pairing - STORY 7: Apartado 10 */
}
.textitoImagen {
  /*El texto que aparece encima de sobreponer cuando ocurre*/
  white-space: nowrap; /*Crea todo el texto en una linea, da igual el sitio donde este*/
  color: black; /*Esto cambia el color de la letra*/
  font-size: 1.3em;
  position: absolute;
  overflow: hidden;
  top: 50%; /*Distancia de arriba*/
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /*Que aparezca con las animaciones*/
}
